/* -------------- Project Browser ------------- */

#project-browser-install-button-form {
  clear: both;
  margin: 10px 0 0;
}
#project-browser-install-queue {
  margin: 5px 0 0;
}
.project-browser-install-queue-item {
  margin: 5px 0;
}
.project-browser-install-queue-items {
  clear: both;
  margin: 0 0 15px;
}
.project-browser-install-link {
  clear: both;
}
.project-browser-selected-release {
  display: none;
}
.project-browser-show-releases-link {
  cursor: pointer;
}

/* ------------------ List Styles ------------------ */

div.item-list ul.project-browser-sort-list,
div.item-list ul.project-browser-servers-list {
  margin: 0;
}
div.item-list ul.project-browser-sort-list li a,
div.item-list ul.project-browser-servers-list li a {
  color: #0074bd;
  margin-right: 5px; /* LTR */
}
div.item-list ul.project-browser-sort-list li.sort-active a,
div.item-list ul.project-browser-servers-list li.server-active a {
  color: #000000;
}
div.item-list ul.project-browser-sort-list li.sort-header,
div.item-list ul.project-browser-servers-list li.server-header {
  font-weight: bold;
}
a.show-more {
  float: right; /* LTR */
}

/* ------------------ Project ----------------- */

.project-extra {
  clear: both;
  color: gray;
  text-align: right; /* LTR */
}
.project-author {
  color: gray;
  font-size: 0.9em;
}
.project-updated {
  color: gray;
  font-size: 0.9em;
}
.project-image {
  float: left; /* LTR */
  margin-right: 10px; /* LTR */
}
.project-image img {
  max-height: 150px;
  max-width: 200px;
}
#project-browser-main ul, #project-browser-main ol {
  list-style-position: inside;
}
.project-item {
  border-top: 1px solid #e0e0d8;
  clear: both;
  padding: 10px;
  position: relative;
}
.project-item-first {
  clear: both;
  padding: 10px;
  position: relative;
}
div.project-status {
  position: absolute;
  right: 10px; /* LTR */
  text-align: right; /* LTR */
  top: 20px;
}
div.project_browser_results_count {
  text-align: right; /* LTR */
  width: 75%;
}
div.project-status span,
div.project-browser-install-queue-item span {
  float: left; /* LTR */
  margin: 1px 1px 0 0; /* LTR */
}
div.project-browser-install-queue-item a:hover {
  text-decoration: line-through;
}
.project-browser-install-main {
  padding: 10px;
  float: right; /* LTR */
  width: 76%;
}
.install-disabled {
  color: gray;
}
.install-enabled {
  color: green;
}
.project-browser-install-sidebar-left {
  float: left; /* LTR */
  width: 19%;
  padding: 10px;
}
div.project-title {
  font-size: 18px;
}
fieldset#edit-category,
fieldset#edit-version  {
  border: none;
}
div.install-item-prefix {
  float:left; /* LTR */
  margin-left: 50px; /* LTR */
}

/* -------------- Project Browser ------------- */

#project-browser-main div.form-item-install {
  float: right; /* LTR */
}
#project-browser div.project-browser-region {
  min-height: 1px;
}
#project-browser div#project-browser-main {
  width: 75%;
  float: left; /* LTR */
  margin-right: 1%; /* LTR */
}
#project-browser div#project-browser-sidebar-right {
  width: 23%;
  float: right; /* LTR */
}
#project-browser div.project_browser_block {
  margin-bottom: 20px;
  border: 1px solid #cccccc;
}
#project-browser .project-browser-region .project_browser_block {
  clear: both;
}
#project-browser div.project_browser_block h2 {
  float: none;
  font-size: 1em;
  margin: 0;
  padding: 3px 10px;
  background: none repeat scroll 0 0 #e0e0d8;
}
#project-browser div#project-browser-sidebar-right div.project_browser_block div.content {
  padding: 5px 10px;
}
